# Global Config
[user]
    name = "Nikolai Golub"


[alias]
    # branch
    b  = branch
    bc = checkout -b
    # checkout
    co = checkout
    nb = checkout -b
    
    s = status
    su = status -u
    c = commit
    
    hist = log --graph --color=always --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s' --all
    branches = for-each-ref --sort=-committerdate refs/heads/
[color]
    ui = auto
[push]
    default = upstream
[pull]
    rebase = true
